<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :conditions %>
    <%= form.text_field :conditions %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :parents_id %>
    <%= form.text_field :parents_id %>
  </div>

  <div class="field">
    <%= form.label :fav_hour %>
    <%= form.text_field :fav_hour %>
  </div>

  <div class="field">
    <%= form.label :fav_weekday %>
    <%= form.text_field :fav_weekday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
